
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline:none;
}
.btn-primary{
  min-width: 102px;
  border-color: #3CB6B0;
  background-color: #3CB6B0;
  box-shadow: 0 4px 0 #2AA19A;
  outline: none;
  margin-top: -4px;
}
.btn-primary[disabled]{
  box-shadow: 0 4px 0 #2AA19A;
}
.btn-primary[disabled]:hover{
  border-color: #3CB6B0;
  background-color: #3CB6B0;
  box-shadow: 0 4px 0 #2AA19A;
}
.btn-gray{
  min-width: 102px;
  border-color: #D8D8D8;
  background-color: #D8D8D8;
  box-shadow: 0 4px 0 #C0C0C0;
  color: #fff;
  outline: none;
  margin-top: -4px;
}

.btn-primary:active,.btn-primary:active:focus,.btn-primary:hover,.btn-primary:active:hover{
    background-color: #59C5BE;
    border-color: #59C5BE;
    box-shadow: 0 4px 0 #30bdb4;
    outline: none;
}
.btn-primary:focus{
    border-color: #3CB6B0;
    background-color: #3CB6B0;
    box-shadow: 0 4px 0 #2AA19A;
    outline: none;
}
.btn-gray:active,.btn-gray:active:focus,.btn-gray:hover,.btn-gray:active:hover{
    border-color: #e0e0e0;
    background-color: #e0e0e0;
    box-shadow: 0 4px 0 #C0C0C0;
    color: #fff;
    outline: none;
}
.btn-gray:focus{
    color: #fff;
    outline: none;
}
.btn-white{
  min-width: 92px;
  border-color:#fff;
  background-color: #fff;
  box-shadow: 0 4px 0 #D3DCE1;
  color: #778891;
  outline: none;
  margin-top: -4px;
  padding: 5px 12px;
}
.btn-white:hover,.btn-white:active,.btn-white:active:focus{
    background-color: #ededed;
    border-color: #ededed;
    color: #778891;
    box-shadow: 0 4px 0 #D3DCE1;
    outline: none;
}
.btn-white:focus{
    background-color: #fff;
    border-color: #fff;
    color: #778891;
    box-shadow: 0 4px 0 #D3DCE1;
    outline: none;
}
.btn-normal{
  min-width: 92px;
  border-color:#2BA09A;
  background-color: #3CB6AF;
  box-shadow: 0 4px 0 #2BA09A;
  color: #fff;
  outline: none;
  margin-top: -4px;
  padding: 5px 12px;
}
.btn-normal:hover,.btn-normal:active,.btn-normal:active:focus{
    background-color: #59C5BE;
    border-color: #59C5BE;
    color: #fff;
    box-shadow: 0 4px 0 #2BA09A;
    outline: none;
}
.btn-normal:focus{
    background-color: #2BA09A;
    border-color: #2BA09A;
    color: #fff;
    box-shadow: 0 4px 0 #2BA09A;
    outline: none;
}
.btn-upload{
  padding: 14px 23px;
  background: #F8F9FA;
  border: 1px solid #D3DCE1;
  border-radius: 4px;
  vertical-align: top;
  i{
    font-size: 44px;
    color: #D3DCE1;
  }
}
.btn-upload:focus,.btn-upload:active:focus{
  outline: none;
}
.btn-shallow{
  color: #98A4AA;
  border: 1px solid #D3DCE1;
  background: #F8F9F9;
}
.btn-link:focus,.btn-link:active:focus{
  outline: none;
}
.btn-link-danger{
    color: #DF7878!important;
}
.btn-link-success{
    color: #3CB67D!important;
}
.btn-link-orange{
    color:#EEA465!important;
}
.btn-link{
    color: #429EF9;
    text-decoration: underline;
}
.text-success{
    color: #4AD88B!important;
}
.text-danger{
    color:#D85C4A!important;
}
.separate{
    height: 20px;
}
.mainContent{
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 4px 0 #eaeaea;
  -webkit-box-shadow: 0 4px 0 #eaeaea;
  border-radius: 6px;
}
